In [1]:
import numpy as np

## Looping Through Arrays

In [2]:
## question 2 In a new code cell, create a variable named arrA as a two-dimensional array 
# containing (11, 12, 13) and (14, 15, 16) then print arrA. 
# ∗ In a new code cell, loop through the first dimension of arrA (i.e. for x in arrA) and 
# print each element multiplied by 2. 
# ∗ In a new code cell, loop through the second dimension of arrA (i.e. for y in x) and 
# print each element multiplied by 2. 
# ∗ Add a markdown cell. In your own words describe the difference between the 
# results for first loop and the second loop. 
# ∗ Add another code cell. Again loop through the second dimension of arrA (i.e. for y 
# in x), but this time, assign x*2 to a variable named loop_result. Add another line 
# of code to print loop_result, then add a comment to the cell to explain how/why 
# this result is different.

In [3]:
arrA=np.array([[11,12,13],[14,15,16]])
arrA

array([[11, 12, 13],
       [14, 15, 16]])

In [4]:
for x in arrA:
    print(x*2)

[22 24 26]
[28 30 32]

In [5]:
for x in arrA:
    for i in x:
        print(i*2)

22
24
26
28
30
32

In [6]:
#it seems as the dimensions chagned like the first one had the point as t20 sets but this one has all points sepeartely listed

In [7]:
loop_result= x*2
for x in arrA:
    for y in x:
        loop_result=y*2
print(loop_result)

32

# Joining and Stacking Arrays

In [8]:
# Create variable joined_array_1 and assign it the value of arrA concatenated 
# with arrA on axis=0 (the default axis). Print joined_array_1. 
# ∗ Create variable joined_array_2 and assign it the value of arrA concatenated 
# with arrA on axis=1. Print joined_array_2. 
# ∗ Create variable stacked_array_1 and assign it the value of joined_array_1 
# stacked with joined_array_1 on the default axis. Print stacked_array_1. 
# ∗ Create variable stacked_array_2 and assign it the value of joined_array_1 
# stacked with joined_array_2 on the default axis. What error message do you 
# get? Add a comment to the cell to explain the error that comes back. 
# ∗ Create variable another_joined_array and assign it the value of 
# joined_array_1 concatenated with arrA. Print another_joined_array. 
# ∗ Create variable another_2 and again assign it the value of joined_array_1 
# concatenated with arrA, but this time on axis=1. What happens when you try to run 
# this? Add a comment to the cell to paraphrase the error message in your own 
# words. 
# ∗ Create a cell with three new variables (named as you choose). In each variable, use 
# either the hstack(), vstack(), or dstack() function to stack arrA with arrA. 
# Add a comment after each that explains what the function is doing. Print the results 
# of each variable.

In [9]:
joined_array_1= np.concatenate((arrA,arrA),axis=0)
joined_array_1

array([[11, 12, 13],
       [14, 15, 16],
       [11, 12, 13],
       [14, 15, 16]])

In [10]:
stacked_array_1= np.stack((joined_array_1,joined_array_1))
stacked_array_1

array([[[11, 12, 13],
        [14, 15, 16],
        [11, 12, 13],
        [14, 15, 16]],

       [[11, 12, 13],
        [14, 15, 16],
        [11, 12, 13],
        [14, 15, 16]]])

In [11]:
stacked_array_2= np.stack((joined_array_1,joined_array_2))
stacked_array_2
## joined array 2 was not made

NameError: name 'joined_array_2' is not defined

In [ ]:
another_joined_array= np.concatenate((joined_array_1,arrA))
another_joined_array

In [ ]:
another_2 = np.concatenate((joined_array_1,arrA))
another_2

In [ ]:
hstackex= np.hstack((arrA,arrA))
hstackex
#horizontal stack like values are horizontally stacking

In [ ]:
vstackex= np.vstack((arrA,arrA))
vstackex
#vertical-op top

In [ ]:
dstackex= np.dstack((arrA,arrA))
dstackex
#d stack on top

## Splitting Arrays,

In [ ]:
# Create variable splitsky and assign it the value of joined_array_1 split into 2. 
# Print the variable. Then add a comment to the cell to describe the result: how many 
# arrays? Of how many dimensions each? 
# ∗ Create variable spliterino and assign it the value of joined_array_1 split 
# into 3. Print the variable. Then add a comment to the cell to describe the result: how 
# many arrays? Of how many dimensions each? 
# 5. Add a markdown cell with the header Searching and Replacing Array Values. 
# ∗ In a code cell, create variable result_1. For the value of this variable, use where() 
# to find each even number within arrA (hint, you’ll need to write a condition using % 
# and ==). If the condition is met, print the value from arrA; if not met, print 'odd'. 
# Print result_1. 
# 6. Add a markdown cell with the header Sorting and Filtering Arrays, and add a new 
# code cell for each of the following: 
# ∗ Create variable arrB as a 2-D array including the values (7,6), (13,5), and (7,3). 
# Create another variable, arrB_sorted, and assign it the sorted value of arrB. 
# Print arrB_sorted. 
# ∗ Finally, let’s filter arrB using conditional logic. Start the cell with a print statement 
# to again print the contents of arrB. Then create variable z with the value arrB < 7 
# to look for values less than 7. Next create variable arrC, and assign it arrB[z]. 
# Print arrC. 
# ∗ Applying the same sort of structure, how would you create a new conditional logic 
# filter y to look for values greater than or equal to 7? Follow similar steps as above to 
# create a new variable arrD to hold the filtered results, and print arrD.

In [ ]:
splitsky= np.array_split(joined_array_1, 2)
splitsky
#i think its 2 dimensions and two arrays

In [ ]:
spliterino=np.array_split(joined_array_1,3)
spliterino

#  Searching and Replacing Array Values

In [ ]:
#   In a code cell, create variable result_1. For the value of this variable, use where() 
# to find each even number within arrA (hint, you’ll need to write a condition using % 
# and ==). If the condition is met, print the value from arrA; if not met, print 'odd'. 
# Print result_1.

In [ ]:
result_1=  np.where(arrA%2== 0, arrA, 'odd')
result_1

# Sorting and Filtering Arrays

In [ ]:
# Create variable arrB as a 2-D array including the values (7,6), (13,5), and (7,3). 
# Create another variable, arrB_sorted, and assign it the sorted value of arrB. 
# Print arrB_sorted. 
# ∗ Finally, let’s filter arrB using conditional logic. Start the cell with a print statement 
# to again print the contents of arrB. Then create variable z with the value arrB < 7 
# to look for values less than 7. Next create variable arrC, and assign it arrB[z]. 
# Print arrC. 
# ∗ Applying the same sort of structure, how would you create a new conditional logic 
# filter y to look for values greater than or equal to 7? Follow similar steps as above to 
# create a new variable arrD to hold the filtered results, and print arrD.

In [12]:
arrB= np.array([[7,6],[13,5],[7,3]])

2

In [14]:
arrB_sorted= np.sort(arrB)
arrB_sorted

array([[ 6,  7],
       [ 5, 13],
       [ 3,  7]])

In [15]:
print(arrB)
z= arrB<7
arrC=arrB[z]
arrC

[[ 7  6]
 [13  5]
 [ 7  3]]

array([6, 5, 3])

In [16]:
print(arrB)
z= arrB>=7
arrD=arrB[z]
arrD

[[ 7  6]
 [13  5]
 [ 7  3]]

array([ 7, 13,  7])