In [1]:
# Start by importing numpy (as np) AND pandas (as pd) into the notebook. 
# 2. Add a markdown cell with the header Series. Add a new code/markdown cell for 
# each of the following: 
# ∗ Start by creating four new variables named aa, ab, ac, and ad to hold some plain 
# Python objects.  - Assign aa the list 1,2,3,4.  - Assign ab the tuple 5,6,7,8.  - Assign ac the set 9,10,11,12.  - Assign ad a dictionary with the following key-value pairs:  
# 'first': 13, 'second': 14, 'third': 15, 'fourth': 16  
# ∗ Create four new variables named ser1, ser2, ser3, and ser4. Assign to each a 
# Series created from one of the previous four variables. - ser1 should use aa - ser2 should use ab - ser3 should use ac - ser4 should use ad  
# Print each of new Series to see the result. 
# ∗ In a new cell, create a variable named ser5 and assign it the literal values 17, 18, 
# 19, 20. When you run the cell, what happens? Add a comment to the cell with the 
# specific TypeError message that arises. 
# 3. Add a markdown cell with the header DataFrames from Series. Add a new 
# code/markdown cell for each of the following: 
# ∗ Create new variable df1 and give it the value of a DataFrame using ser1. Then on 
# the next line, call df1 by simply typing in the variable name (no print function). 
# When you run the cell, a simple formatted DataFrame should be returned. 
# ∗ Add two new columns to df1 via the insert attribute using ser2 and ser3 for each 
# column. Call df1 to review the updated DataFrame. 
# ∗ Add a third new column to df1 using ser4. What happens this time when you call 
# df1? Add a comment explaining the difference between ser4 compared to the 
# other Series data used, and how this affected the outcome. 
# ∗ Add a new row 4 using the loc attribute with the values 5, 9, 12, 0. Call df1 to review 
# the updated DataFrame. 
# 4. Add a markdown cell with the header Reading Data into a DataFrame. Add a new 
# code/markdown cell for each of the following: 
# ∗ Create a new variable df2. Use the read_csv function to read the contents of 
# sakila_example.csv into df2. (Note that you will need to save the CSV file to the 
# same folder where Jupyter Notebook is running for this exercise.) Call df2 to review 
# the result. 
# ∗ Display the top 5 records from df2. 
# ∗ Display the last 10 records from df2. 
# ∗ Show summary information about df2 using the info attribute. 
# ∗ Add a markdown cell. Looking at the info results, what are a few facts you can 
# determine about this data? 
# ∗ Show column statistics on df2 using the describe attribute. 
# ∗ Add a markdown cell. Looking at the describe results, what are the useful insights 
# you can take away? What summarizations are likely not so useful? 
# ∗ Create a new variable df3. Use the read_csv function to read the contents of 
# northwind_example.csv into df3. (Note again that you will need to save the CSV file 
# to the same folder where Jupyter Notebook is running for this exercise.) Call df3 to 
# review the result. 
# ∗ Show column statistics on df3 using the describe attribute. 
# ∗ Add a markdown cell. Looking at the describe results, what are the useful insights 
# you can take away? How are the summarizations here different than for the 
# previous example, and why? 
# 5. Add a markdown cell with the header Coding a DataFrame. Add a new 
# code/markdown cell for each of the following: 
# ∗ Create a new variable named test_data and assign it a dictionary with the 
# following key-value pairs: 
# 'ID': [1, 2, 3, 4, 5, 6, 7, 8], 
# 'Name': ['Alicia', 'Bob', 'Charlie', 'Dominic', 'Eve', 'Frank', 'Grace', 'Heidi'], 
# 'Age': [25, np.nan, 22, 19, 31, 35, np.nan, 18], 
# 'City': ['NY', 'LA', 'Chicago', 'Houston', 'Phoenix', 'Boston', 'Austin', 'San Diego'], 
# 'Score': [85, 92, -1, 65, 78, np.nan, 55, 90] 
# ∗ Create a DataFrame named df4 using test_data. Call  df4 to review the result. 
# ∗ Export df4 to a CSV file named test_data.csv

In [3]:
import pandas as pd
import numpy as np

# Series

In [6]:
# ∗ Start by creating four new variables named aa, ab, ac, and ad to hold some plain 
# Python objects.  - Assign aa the list 1,2,3,4.  - Assign ab the tuple 5,6,7,8.  - Assign ac the set 9,10,11,12.  - Assign ad a dictionary with the following key-value pairs:  
# 'first': 13, 'second': 14, 'third': 15, 'fourth': 16  
aa= [1,2,3,4]
ab= (5,6,7,8)
ac= {9,10,11,12}
ad={'first': 13,
   'second': 14,
   'third':15,
'fourth':16}

In [9]:
# ∗ Create four new variables named ser1, ser2, ser3, and ser4. Assign to each a 
# Series created from one of the previous four variables. - ser1 should use aa - ser2 should use ab - ser3 should use ac - ser4 should use ad  
# Print each of new Series to see the result. 
ser1=pd.Series(aa)
ser2=pd.Series(ab)
ser3=pd.Series(list(ac))
ser4=pd.Series(ad)
print(ser1)
print(ser2)
print(ser3)
print(ser4)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64
0     9
1    10
2    11
3    12
dtype: int64
first     13
second    14
third     15
fourth    16
dtype: int64